<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>

<body>
    <div class="container">
        <div class="col-sm-7 col-sm-offset-3">
            <h1><span class="fa fa-edit"></span> Edition de l'objet :
                <%= product.name %>
            </h1>

            <form action="/products/<%= product.id %>/editer" method="post">
                <div class="form-group">
                    <label>Type d'objet</label>
                    <input type="text" value="<%= product.type %>" class="form-control" name="type" required>
                </div>
                <div class="form-group">
                    <label>Nom de l'objet</label>
                    <input type="text" value="<%= product.name %>" class="form-control" name="name" required>
                </div>
                <div class="form-group">
                    <label>Etat</label>
                    <select multiple class="form-control" name="etat" required>
                        <%if (product.etat == "Perdu") { %>
                        <option selected>Perdu</option>
                        <option>Trouvé</option>
                        }
                        <% } %>
                        <%if (product.etat == "Trouvé") { %>
                        <option>Perdu</option>
                        <option selected>Trouvé</option>
                        }
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" name="description" value="<%= product.description %>">
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="date" class="form-control" name="date" required value="<%= moment(product.date).format('YYYY-MM-DD'); %>">
                </div>

                <button type="submit" class="btn btn-primary btn-lg">Editer </button>
            </form>

        </div>
    </div>
</body>

</html>